services:
  db:
    image: postgres:16
    container_name: taskflow_db
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
    ports:
      - "55433:5432"
    volumes:
      - taskflow_pgdata:/var/lib/postgresql/data

volumes:
  taskflow_pgdata:
