services:
  db:
    image: postgres:16
    container_name: taskflow_db
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
    ports:
      - "55433:5432"
    volumes:
      - taskflow_pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: taskflow_backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app

volumes:
  taskflow_pgdata:
